<!-- wp:template-part {"slug":"header-with-banner","theme":"worklancer"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"worklancer/brandlogo-display"} /-->
  <!-- wp:pattern {"slug":"worklancer/services-section"} /-->
  <!-- wp:pattern {"slug":"worklancer/about-block"} /-->
  <!-- wp:pattern {"slug":"worklancer/portfolio-showcase"} /-->
  <!-- wp:pattern {"slug":"worklancer/testimonial-block"} /-->
  <!-- wp:pattern {"slug":"worklancer/recent-articles"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"worklancer"} /-->
